@tailwind base;
@tailwind components;
@tailwind utilities;

.section4 {
  background-image: url("./image.jpg");
  /* background: fixed; */
  background-attachment: fixed;
}
.section1 {
  background-image: url("./image1.jpg");
  background-attachment: fixed;
}

h1 {
  font-size: 80px;
}

@font-face {
  font-family: 'Platino Linotype';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/platino/PalatinoLinotype.ttf') format('ttf'), url('../../static/platino/PalatinoLinotype.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Book Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/bookantiqua/Book\ Antiqua.ttf') format('ttf'), url('../../static/bookantiqua/Book\ Antiqua.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/roboto/Roboto-Black.ttf') format('ttf'), url('../../static/roboto/Roboto-Black.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Sans-serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/sans/OpenSans-Regular.ttf') format('ttf'), url('../../static/sans/OpenSans-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/serif/PTSerif-Regular.ttf') format('ttf'), url('../../static/serif/PTSerif-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}